* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: rgb(245, 240, 235);
  display: flex;
  flex-direction: column;
  height: 100%;
}

li {
  list-style: none;
}

.hr-between {
  height: 3px;
  background-color: rgb(233, 199, 105);
  border: none;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgb(252, 252, 252);
}

.header .header-top {
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: rgb(233, 199, 105);
}
.header .header-top .logo .logo-img {
  width: 80px;
}

#button-finish {
  display: flex;
  margin-left: auto;
  text-align: center;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
  font-size: 25px;
  padding: 10px 15px;
  border-radius: 10px 0 0 10px;
  transition: all 0.3s ease-in-out;
}
#button-finish:hover {
  background-color: #e0e0e0;
  transition: all 0.3s ease-in-out;
}

.hr-pd_10 {
  padding: 5px 0;
  border: 0;
}

.hr-pd_20 {
  padding: 10px 0;
  border: 0;
}

.hr-pd_40 {
  padding: 20px 0;
  border: 0;
}

.bg_red {
  background-color: #ffc0c0;
}

.bg_green {
  background-color: #c0ffc0;
}

.bg_yellow {
  background-color: #ffffc0;
}

main {
  flex: 1;
}
main .main-block {
  display: flex;
}
main .main-block .aside-left {
  height: 900px;
  width: 20%;
  border-right: 3px solid rgb(233, 199, 105);
}
main .main-block .aside-left ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
main .main-block .aside-left ul li a {
  font-size: 24px;
}
main .main-block .aside-left ul li a:hover {
  color: red;
}
main .main-block .aside-main {
  display: block;
  margin: 0 20px;
  font-size: 22px;
}
main .main-block .aside-main h2 {
  padding: 20px 0;
}
main .main-block .aside-main a {
  line-height: 2.5rem;
  text-decoration: underline;
  color: blue;
  font-size: 25px;
}
main .p-vars {
  text-align: center;
  padding: 20px 20px 0 20px;
  font-size: 30px;
}
main .p-vars a:hover {
  text-decoration: underline;
  color: red;
}
main .p-task {
  padding: 20px 40px;
  font-size: 25px;
}
main .p-task a {
  text-decoration: none;
}
main .p-task a:hover {
  text-decoration: underline;
  color: red;
}
main .p-gen {
  text-align: center;
  display: flex;
  padding: 20px;
}
main .p-gen a {
  display: flex;
  align-items: center;
  border: 1px solid rgb(233, 199, 105);
  padding: 20px;
  border-radius: 10px;
  font-size: 22px;
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
}
main .p-gen a:hover {
  background-color: rgb(233, 199, 105);
  transition: all 0.3s ease-in-out;
  color: red;
}
main .search-box__inner {
  display: flex;
  justify-content: space-between;
}
main .search-box, main .show-box {
  padding: 20px;
}
main .label-text {
  font-size: 20px;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}
main .search-box-find {
  display: flex;
  gap: 10px;
}
main #select-task {
  padding: 10px 15px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  flex-grow: 1;
  transition: border-color 0.3s;
  cursor: pointer;
}
main #taskNumber {
  max-width: 220px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  flex-grow: 1;
  transition: border-color 0.3s;
}
main #taskNumber:focus, main #select-task:focus {
  outline: none;
  border-color: #ddd;
  box-shadow: 0 0 0 1px #ddd;
}
main #taskNumber::-moz-placeholder {
  color: #999;
}
main #taskNumber::placeholder {
  color: #999;
}
main .btn-primary {
  padding: 10px 20px;
  background-color: rgb(233, 199, 105);
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
main .btn-primary:hover {
  background-color: #d6bd33;
}
main .btn-primary:active {
  background-color: #b7a22a;
}

.h2-centr {
  text-align: center;
  padding: 30px 0 0 0;
  font-size: 35px;
}

.task-numbers__block, .slide {
  padding: 20px;
  font-size: 25px;
  line-height: 2rem;
}
.task-numbers__block .p-num, .slide .p-num {
  font-size: 20px;
}
.task-numbers__block .img-task_9, .task-numbers__block .img-13, .slide .img-task_9, .slide .img-13 {
  display: block;
  margin: auto;
  width: 600px;
}
.task-numbers__block .img-13_2, .slide .img-13_2 {
  display: block;
  margin: auto;
  width: 900px;
}
.task-numbers__block .img-14, .slide .img-14 {
  width: 30%;
}
.task-numbers__block .download a, .slide .download a {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #020202;
  text-decoration: none;
}
.task-numbers__block .download a img, .slide .download a img {
  width: 55px;
}
.task-numbers__block .span-centr, .slide .span-centr {
  display: block;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1.2px;
}
.task-numbers__block .span-centr__font, .slide .span-centr__font {
  font-size: 40px;
}
.task-numbers__block .span-centr__font_2, .slide .span-centr__font_2 {
  font-size: 40px;
}
.task-numbers__block .table_2_1, .slide .table_2_1 {
  margin: auto;
  border-collapse: collapse;
}
.task-numbers__block .table_2_1 td, .slide .table_2_1 td {
  font-size: 30px;
  border: 1px solid;
  padding: 5px 15px;
  text-align: center;
}
.task-numbers__block .table_2_3, .slide .table_2_3 {
  margin: auto;
  border-collapse: collapse;
}
.task-numbers__block .table_2_3 td, .slide .table_2_3 td {
  font-size: 25px;
  border: 1px solid;
  text-align: center;
  padding: 7px 10px 7px 5px;
}
.task-numbers__block .table_4, .slide .table_4 {
  margin: auto;
  border-collapse: collapse;
}
.task-numbers__block .table_4 td, .slide .table_4 td {
  font-size: 110%;
  border: 1px solid;
  padding: 5px 25px;
  text-align: center;
}
.task-numbers__block .table_6, .slide .table_6 {
  margin: auto;
  border-collapse: collapse;
}
.task-numbers__block .table_6 td, .slide .table_6 td {
  vertical-align: top;
  font-size: 20px;
  border: 1px solid;
  padding: 10px;
}
.task-numbers__block .table_16, .slide .table_16 {
  border-collapse: collapse;
}
.task-numbers__block .table_16 td, .slide .table_16 td {
  vertical-align: top;
  font-size: 90%;
  border: 1px solid;
  padding: 10px;
}

.info-taskThree {
  padding: 15px;
  font-size: 25px;
}
.info-taskThree .info-taskThree__inner {
  margin: auto;
  border-collapse: collapse;
}
.info-taskThree .info-taskThree__inner td {
  padding: 10px;
  border: 1px solid black;
}

.number-block {
  padding: 4px 10px;
  border: 1px solid black;
  font-size: 18px;
}

.select-task {
  display: flex;
  padding: 10px 20px 20px;
  font-size: 18px;
  gap: 15px;
}
.select-task label {
  padding-left: 5px;
}
.select-task .select-task__inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}
.select-task select {
  font-size: 15px;
  padding: 10px 5px;
  border-radius: 10px;
  cursor: pointer;
}

.h1_center {
  font-size: 250%;
  padding: 20px 0 0 0;
  text-align: center;
}/*# sourceMappingURL=index.css.map */