
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //font-family: 'Arial', sans-serif;  
    font-family: 'Roboto', sans-serif;
    //text-wrap: balance;
}

$back-top-color:  rgb(233, 199, 105);

html{
    height: 100%;
}

body{
    background-color: rgb(245, 240, 235);
    display: flex;
    flex-direction: column;
    height: 100%;   
}
li {
    list-style: none;
}
// a{
//     text-decoration: none;
//     color: black;
// }

.hr-between{
    height: 3px;
    background-color: $back-top-color;
    border: none;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgb(252, 252, 252);
    
}

.header{   
    .header-top{
        display: flex;
        align-items: center;
        gap: 40px;
        background-color: $back-top-color; 
        .logo{
            .logo-img{
                width: 80px;
            }       
        }      
    }
    
}
.hr-pd_10{
    padding: 5px 0;
    border: 0;  
}
.hr-pd_20{
    padding: 10px 0;
    border: 0;  
}
.hr-pd_40{
    padding: 20px 0;
    border: 0;  
}



main{
    flex: 1;
    .main-block{
        display: flex;
        
        .aside-left{ 
            height: 900px;
            width: calc(100% - 80%);
            border-right: 3px solid $back-top-color;
            ul{
                display: flex;
                align-items: center;
                padding: 20px;
                li{
                    a{
                        font-size: 24px;
                    }
                    a:hover{
                        color: red;
                    }
                }
            }         
        }
        .aside-main{
            display: block;
            text-align: center;
            margin: 0 auto;
            font-size: 22px;
            h2{
                padding: 20px 0 10px 0;
            }
            a{
                line-height: 2.5rem;
                text-decoration:underline;
                color: blue;
                font-size: 25px;
            }
        }
    }
    
    .p-vars{
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
        
        a:hover{
            text-decoration:underline;
            color: red;
        }
    }

    .p-task{  
        padding: 20px 40px;
        font-size: 25px;
        a{
            text-decoration: none;
        }
        a:hover{
            text-decoration:underline;
            color: red;
        }
    }
}

.h2-centr{
    text-align: center;
    padding: 30px 0 0 0;
    font-size: 35px;
}

.task-numbers__block
{
    padding: 20px;
    font-size: 25px;
    .p-num{
        font-size: 18px;
    }
    .span-centr{
        display: block;
        text-align: center;
        font-size: 25px;
        letter-spacing: 1.2px;
    }
}

.number-block{
    padding: 4px 10px;
    border: 1px solid black; 
    font-size: 18px;
}
.select-task{
    display: flex;
    padding: 10px 20px 20px;
    font-size: 18px;
    gap: 15px;
    label{
        padding-left: 5px;
    }
    .select-task__inner{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 200px;
    }
    select{
        font-size: 15px;
        padding: 10px 5px;
        border-radius: 10px;
        cursor: pointer;
    }
}