
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //font-family: 'Arial', sans-serif;  
    font-family: 'Roboto', sans-serif;
}

$back-top-color:  rgb(233, 199, 105);
$body-color: rgb(245, 240, 235);
$btn-color-up: hsl(216, 56%, 52%);

// input[type="checkbox"] {
//      all: unset !important; /* Полный сброс стилей */
//     -webkit-appearance: checkbox !important;
//     appearance: checkbox !important;
// }

html{
    height: 100%;
}

body{
    background-color: rgb(245, 240, 235);
    display: flex;
    flex-direction: column;
    height: 100%;

}
li {
    list-style: none;
}
// a{
//     text-decoration: none;
//     color: black;
// }

.hr-between{
    height: 3px;
    background-color: $back-top-color;
    border: none;
}

.container {

    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgb(252, 252, 252);
    
}

.header{   
    
    .header-top{
        position: relative;
        display: flex;
        align-items: center;
        
        gap: 40px;
        background-color: $back-top-color; 
        .logo{
            .logo-img{
                width: 80px;
            }       
        } 
        // & > *:last-child {
        //     margin-left: auto;
        // }
    }
}

#button-print{
    position: absolute;
    background-color: transparent;
    border: none;
    right: 0;
    cursor: pointer;
    margin-right: 30px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    img{
        
        width: 55px;
    }
    &:hover{
        transition: all 0.3s ease-in-out;
        -webkit-box-shadow: 0 0 0  5px rgba(0, 0, 0, 0.5);
         box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);
    }
}
#button-finish{
    display: flex;
    margin-left: auto;
    
    text-align: center;
    background-color: transparent;
    border: 1px solid;
    cursor: pointer;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 0 0 0 10px;
    border-top: none;
    border-right: none;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: #e0e0e0; 
        transition: all 0.3s ease-in-out;
    }       
} 
.hr-pd_5{
    padding: 2.5px 0;
    border: 0;  
}
.hr-pd_10{
    padding: 5px 0;
    border: 0;  
}
.hr-pd_15{
    padding: 7.5px 0;
    border: 0;  
}
.hr-pd_20{
    padding: 10px 0;
    border: 0;  
}
.hr-pd_30{
    padding: 15px 0;
    border: 0;  
}
.hr-pd_40{
    padding: 20px 0;
    border: 0;  
}
.bg_red{
    background-color: #ffc0c0;
}
.bg_green{
    background-color: #c0ffc0;
}
.bg_yellow{
    background-color: #f5f541; //#ffffc0;
}

main{
    flex: 1;
    .main-block{
        display: flex;
        height: 100%;
        .aside-left{ 
            
            width: calc(100% - 80%);
            border-right: 3px solid $back-top-color;
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
                li{
                    a{
                        font-size: 24px;
                    }
                    a:hover{
                        color: red ;
                    }
                }
            }         
        }
        .aside-main{
            display: block;
            //text-align: center;
            margin: 0 20px;
            font-size: 22px;
            h2{
                padding: 20px 0;
                
            }
            a{
                
                line-height: 2.5rem;
                text-decoration:underline;
                color: blue;
                font-size: 25px;
            }
        }
    }
    
    .p-vars{
        text-align: center;
        padding: 20px 20px 0 20px;
        font-size: 30px;
        
        a:hover{
            text-decoration:underline;
            color: red;
        }
    }

    .p-task{  
        padding: 20px 40px;
        font-size: 25px;
        a{
            text-decoration: none;
        }
        a:hover{
            text-decoration:underline;
            color: red;
        }
    }
    .p-gen{
        text-align: center;
        display: flex;
        padding: 20px;
        a{
            display: flex;
            align-items: center;
            border: 1px solid $back-top-color;
            padding: 20px;
            border-radius: 10px;
            font-size: 22px;
            margin: 0 10px;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                background-color: $back-top-color;
                transition: all 0.3s ease-in-out;
                color: red;
            }
        }
    }

    .search-box__inner{
        display: flex;
        justify-content: space-between;
    }
    .search-box, .show-box {
        padding: 20px;
        
    }
    
    .label-text {
        font-size: 20px;
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        color: #333;
    }
    
    .search-box-find {
        display: flex;
        gap: 10px;
        
    }
    #select-task{
      
        padding: 10px 15px;
        width: 100%;
        border-radius: 4px;
        font-size: 16px;
        flex-grow: 1;
        transition: border-color 0.3s;
        cursor: pointer;
        
    }
    #taskNumber {
        max-width: 220px;
        padding: 10px 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
        flex-grow: 1;
        transition: border-color 0.3s;
    }
    
    #taskNumber:focus, #select-task:focus {
        outline: none;
        border-color: #ddd;
        box-shadow: 0 0 0 1px #ddd;
    }
    
    #taskNumber::placeholder {
        color: #999;
    }
    // 4285f4 3367d6 2a56b7 rgba(66, 133, 244, 0.2)  #4285f4
    .btn-primary {
        padding: 10px 20px;
        background-color: $back-top-color;
        color: black;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .btn-primary:hover {
        background-color: #d6bd33;
    }
    
    .btn-primary:active {
        background-color: #b7a22a;
    }
}

.h2-centr{
    text-align: center;
    padding: 30px 0 0 0;
    font-size: 35px;
}

.task-numbers__block, .slide
{
    padding: 20px;
    font-size: 25px;
    line-height: 2rem;
    
    .p-num{
        font-size: 20px;
    }
    
    .img-task_9, .img-13{
        display: block; 
        margin: auto;
        width: 600px;
    }
    .img-13_2{
        display: block; 
        margin: auto;
        width: 900px;
    }
    .img-14{
        width: 30%;
    }
    .download a {
      display: flex;
      gap: 10px;
      align-items: center;
      color: #020202;
      text-decoration: none;

      img {
        width: 55px;
      }
    }
    .span-centr{
        display: block;
        text-align: center;
        font-size: 25px;
        letter-spacing: 1.2px;
    }
    .span-centr__font{
        font-size: 40px;
    }
    .span-centr__font_2{
        font-size: 40px;
    }
    .table_2_1{
            margin: auto; 
            border-collapse: collapse;
        td{
            font-size: 30px;
            border: 1px solid;
            padding: 5px 15px; 
            text-align: center; 
        }
    } 
    .table_2_3{ 
         margin: auto; 
         border-collapse: collapse;
        td{
            font-size: 25px;
            border: 1px solid;
            text-align: center; 
            padding: 7px 10px 7px 5px;
        }
    }
    .table_4{
        margin: auto; 
        border-collapse: collapse;
        td{
            font-size: 110%;
            border: 1px solid;
            padding: 5px 25px; 
            text-align: center; 
        }
    } 
    .table_6{
        margin: auto; 
        border-collapse: collapse;
        td{
            vertical-align: top;
            font-size: 20px;
            border: 1px solid;
            padding: 10px ; 
        }
    }
    .table_16{
        border-collapse: collapse;
        td{
            vertical-align: top;
            font-size: 90%;
            border: 1px solid;
            padding: 10px; 
            
        }
    }
    .table_14{
        border-collapse: collapse;
        margin: auto;
        td{
            text-align: center;
            align-items: center;
            font-size: 90%;
            border: 1px solid;
            padding: 5px; 
              
        }
    }
}
// .tasks-blocks{
//     border: 1px solid;
//     margin-bottom: 20px;
//     padding: 20px;
//     background-color: #dfd186; //#dfd186
//     border-radius: 10px;
// }

.inform-block{
     position: absolute;
     width: 100%;
     padding: 0 10px 10px;
     border: 1px solid;
     line-height: 1.5;
    // left: 45px;
     
     border-radius: 10px;
     z-index: 1;
     background-color: #fdbc5b;
    p{
        color:black;
          
    }
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
}
.text-inform{
    position: relative;
    font-size: 65%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: end;
    img{
        width: 3%; 
        cursor: pointer;
    } 
}
.close-inform-button {
   
  background: transparent; //#e78e08
  border: none;
  
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 1.5em;
  cursor: pointer;
  color: #fd0b03;
 
  
}
.inform-block {
  display: none;
}

.inform-block.show {
  display: block;
}

.info-taskThree{
    padding: 15px;
    font-size: 25px;
   // text-align: center;
    .info-taskThree__inner{
        margin: auto;
        border-collapse: collapse;
        td{
            padding: 10px;
            border: 1px solid black;
        }
    }
       
}
.number-block{
    padding: 4px 10px;
    border: 1px solid black; 
    font-size: 18px;
}
.select-task{
    display: flex;
    padding: 10px 20px 20px;
    font-size: 18px;
    gap: 15px;
    label{
        padding-left: 5px;
    }
    .select-task__inner{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 200px;
    }
    select{
        font-size: 15px;
        padding: 10px 5px;
        border-radius: 10px;
        cursor: pointer;
    }
}
.h1_center{
    font-size: 250%;
    padding: 20px 0 0 0;
    text-align: center;
}

.footer{
    .footer-text{
        display: flex;
        background-color: #faf5ea;
        //background-color: $body-color;
        height: 40px;
        padding-left: 20px;
        align-items: center;
        font-size: 90%;
        border-top: 1px solid $back-top-color;

    }
    
}

.btn-up {
      position: fixed;
      background-color: $btn-color-up;
      opacity: 0.5;
      right: 20px;
      bottom: 0px;
      border-top-left-radius: 15%;
      border-top-right-radius: 15%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10%;
      height: 5%;
      
}

.btn-up::before {
      content: "";
      width: 80%;
      height: 80%;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
      display: none;
}
