@media (max-width: 1280px) {
  .container {
    width: 1030px;
  }
  main .main-block .aside-left ul li a {
    font-size: 18px;
  }
  main .main-block .aside-main {
    font-size: 20px;
  }
  .slider .slider-item .span-centr {
    padding: 0;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 800px;
  }
  main .main-block .aside-left {
    width: 27%;
  }
  main .main-block .aside-left ul li a {
    font-size: 20px;
  }
  main .main-block .aside-main {
    font-size: 17px;
  }
  main .main-block .aside-main a {
    font-size: 22px;
  }
  .vars-block {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .vars-block .vars-block__inner {
    padding: 10px 30px;
    font-size: 20px;
  }
  .breadcrumb {
    font-size: 18px;
  }
  .breadcrumb .breadcrumb-item {
    display: grid;
    grid-template-columns: 1fr;
  }
  .breadcrumb .breadcrumb-item .last a {
    font-size: 22px;
  }
  .slider .slider-item .task-block {
    font-size: 20px;
    margin-top: 50px;
    border-top: 0;
  }
  .slider .slider-item .task-block__text {
    font-size: 20px;
    line-height: 2rem;
  }
  .slider .slider-item .table-block td {
    font-size: 17px;
  }
  .slider .slider-item .span-centr {
    font-size: 25px;
  }
  .slider .slider-item .span-centr_6 {
    font-size: 25px;
  }
  .slider .slider-item td {
    font-size: 17px;
  }
  .slider .slider-item .table-6_td {
    font-size: 20px;
  }
  .slider .slider-item .img-task_9 {
    width: 550px;
  }
  .slider .slider-item .answer-block .input_answer, .slider .slider-item .answer-block .input_answer-green, .slider .slider-item .answer-block .input_answer-red {
    width: 35%;
  }
  .slider .slick-dots {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
  }
  .slider .slick-dots li {
    margin: 5px 0;
    padding-bottom: 5px;
  }
  .slider .slick-dots button {
    font-size: 18px;
  }
  .h2-centr {
    font-size: 30px;
  }
}
@media (width: 1000px) {
  .breadcrumb {
    font-size: 18px;
  }
  .breadcrumb .breadcrumb-item {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 800px) {
  .container {
    width: 600px;
  }
  main .main-block .aside-left {
    width: 35%;
  }
  main .main-block .aside-left ul li a {
    font-size: 20px;
  }
  main .main-block .aside-main {
    font-size: 17px;
  }
  main .main-block .aside-main a {
    font-size: 22px;
  }
  main .p-vars {
    font-size: 25px;
  }
  .vars-block {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 15px;
  }
  .vars-block .vars-block__inner {
    padding: 10px 20px;
    font-size: 15px;
  }
  .breadcrumb {
    font-size: 16px;
    padding: 0;
  }
  .breadcrumb .breadcrumb-item {
    display: grid;
    grid-template-columns: 1fr;
  }
  .breadcrumb .breadcrumb-item .last a {
    font-size: 20px;
  }
  .slider .slider-item .span-centr {
    font-size: 30px;
  }
  .slider .slider-item .span-centr_6 {
    font-size: 20px;
  }
  .slider .slider-item td {
    font-size: 17px;
    padding: 5px 15px;
  }
  .slider .slider-item .table-6_td_h {
    padding: 5px;
    font-size: 15px;
  }
  .slider .slider-item .table-6_td {
    font-size: 15px;
  }
  .slider .slider-item .img-task_9 {
    width: 450px;
  }
  .slider .slider-item .answer-block .input_answer, .slider .slider-item .answer-block .input_answer-green, .slider .slider-item .answer-block .input_answer-red {
    width: 45%;
  }
  .h2-centr {
    padding: 15px 0 0 0;
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .container {
    width: 390px;
  }
  main .main-block .aside-left {
    width: 35%;
  }
  main .main-block .aside-left ul li a {
    font-size: 15px;
  }
  main .main-block .aside-main {
    font-size: 12px;
  }
  main .main-block .aside-main a {
    font-size: 15px;
  }
  main .p-vars {
    font-size: 15px;
  }
  main .p-task {
    padding: 5px 15px;
  }
  main .p-task a {
    font-size: 15px;
  }
  .breadcrumb {
    font-size: 13px;
    padding: 0;
  }
  .breadcrumb .breadcrumb-item .last a {
    font-size: 15px;
  }
  .vars-block {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 15px;
  }
  .vars-block .vars-block__inner {
    padding: 10px 19px;
    font-size: 11px;
  }
  .slider .slider-item .task-block__text {
    font-size: 12px;
    line-height: 1.2rem;
  }
  .slider .slider-item .task-block {
    font-size: 12px;
    line-height: 1.2rem;
    margin-top: 20px;
  }
  .slider .slider-item .table-block {
    display: block;
  }
  .slider .slider-item .table-block table {
    margin-bottom: 15px;
  }
  .slider .slider-item .table-block table td {
    font-size: 10px;
    padding: 4px;
  }
  .slider .slider-item .span-centr {
    font-size: 15px;
  }
  .slider .slider-item .span-centr_6 {
    font-size: 15px;
  }
  .slider .slider-item td {
    font-size: 10px;
    padding: 1px 10px;
  }
  .slider .slider-item .table-6_td_h {
    padding: 5px;
    font-size: 10px;
    line-height: 1rem;
  }
  .slider .slider-item .table-6_td {
    font-size: 10px;
    line-height: 1rem;
  }
  .slider .slider-item .img-task_9 {
    width: 350px;
  }
  .slider .slider-item .answer-block {
    margin-top: 20px;
  }
  .slider .slider-item .answer-block .input_answer, .slider .slider-item .answer-block .input_answer-green, .slider .slider-item .answer-block .input_answer-red {
    width: 75%;
    margin-top: 2px;
  }
  .slider .slider-item .answer-block .download a {
    align-items: start;
    font-size: 10px;
  }
  .slider .slider-item .answer-block .download a img {
    width: 30px;
  }
  .slider .slider-item .centerResult {
    font-size: 15px;
  }
  .slider .slider-item .answer-block__ans .answer_td {
    width: 100px;
  }
  .slider .slider-item .answer-block__ans .answer_table-border {
    padding: 7px;
    font-size: 15px;
  }
  .slider .slick-dots button {
    width: 40px;
    height: 40px;
    font-size: 15px;
    padding: 5px;
  }
  .h2-centr {
    font-size: 18px;
  }
  .task-numbers__block {
    padding: 10px;
    font-size: 15px;
  }
  .task-numbers__block .p-num {
    font-size: 12px;
  }
  .number-block {
    padding: 4px 9px;
    border: 1px solid black;
    font-size: 13px;
  }
}/*# sourceMappingURL=media.css.map */