$back-top-color:  rgb(233, 199, 105);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.vars-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 30px;
    gap: 10px 0;
    .vars-block__inner{
        border: 1px solid $back-top-color;
        border-radius: 20px 40px ;
        padding: 10px 20px;
        margin: 5px;
        text-align: center;
        font-size: 22px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover{
            background-color: $back-top-color;
            transition: all 0.3s ease-in-out;
            color: red;
        }
    }
    
}
/*  хлебные крошки */
.breadcrumb {
    padding: 20px 30px;
    font-size: 20px;
    .breadcrumb-item{
        display: flex;
        li+li:before {
            padding: 10px;
            color: black;
            content: ">>";
        }
        a:hover {
            color: red;
            text-decoration: underline;
        }
        .last{
            a{
                font-size: 25px;
                color: rgb(126, 36, 211);
            } 
        }
    }
}

// slick slider
.slider{
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
    
    .slider-item{
        width: 100%;
        height: 100%;
        margin-top: 70px ;
    }
    .slick-track{
        display: flex;
    }
    .slick-list{
        overflow: hidden;
    }
    .slick-arrow{
        position: absolute;
        top: 50%;
        z-index: 10;
        font-size: 0;
        width: 40px;
        height: 60px;
        cursor: pointer;
        border: 0;
    }
    .slick-arrow.slick-prev{
        left: -50px;
        background: url('../img/left-arrow.svg') 0 0 / 100% no-repeat;
        
    }
    .slick-arrow.slick-next{
        right: -50px;
        background: url('../img/right-arrow.svg') 0 0 / 100% no-repeat;
    }
    .slick-dots{
        display: flex;
        top: 0;
        //background-color: black;
        position: absolute;
        width: 100%;
        justify-content: space-between;
        //left: -150px;
        //height: 50%;
        border-bottom: 3px solid $back-top-color;
            
        li{
            margin: 10px;  
        }
        button{
            width: 50px;
            height: 50px;
            border-radius: 10px;
            font-size: 20px;
            border: 1px solid $back-top-color;
            cursor: pointer;
        }
        .slick-active {

            button{
                background-color: $back-top-color;
                border: 0;
            }  
        }  
    }
}








  


  
